/*for the game*/
.img-to-hide{
  display: none;
}

.text-to-hide{
  visibility: hidden;
}

#playButton{
  color: #ffff;
}

#playButton:hover{
  color: #e62e4d;
}

/*general*/
body {
    text-align: center!important;
}


h2 {
    padding: 20px;
    font-family: 'Rajdhani', sans-serif;
}

h3, p {
    font-family: 'Barlow Semi Condensed', sans-serif;
}

h1 {
    font-family: 'Rajdhani', sans-serif;
}

i {
    color: #ffff;
}

#footer a:hover {
    color: #e62e4d;
}

.title {
    padding-bottom: 60px;
}

/* nav-bar */
div a {
    color: #ffff;
}

div a:hover {
    color: #e62e4d !important;
}

i:hover {
    color: #e62e4d;
}

.navbar {
    text-align: left;
}

/*  top container   */

#top-container {
    background-color: #1a1a2e;
    position: relative;
    padding: 100px 0px;
    color: #ffff;
}


/* aliens */
.big-ufo-right{
    position: absolute;
    width: 10%;
    top: 20px;
    left: 200px;
}

.medium-ufo-right{
    width: 8%;
    top: 140px;
    left: 80px;
    position: absolute;
}

.little-ufo-right{
    width: 4%;
    position: absolute;
    bottom: 100px;
    left: 240px;

}

.big-ufo-left{
    position: absolute;
    width: 10%;
    top: 20px;
    right: 200px;
}

.medium-ufo-left{
    width: 8%;
    top: 140px;
    right: 80px;
    position: absolute;
}

.little-ufo-left{
    width: 4%;
    position: absolute;
    bottom: 100px;
    right: 240px;

}

.alien {
    width: 40%;
}

/*  mid container  */
#mid-container {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #16213e;
    color: #ffff;
}

.intro {
  width: 30%;
  margin: auto;
}

.profile-img {
    width: 15%;
}

.skill-imgs {
    width: 100%;
}

.skill-row {
    text-align: left;
    width: 50%;
    padding: 25px 0;
}

#div-container-chip {
    margin: auto;
}

#div-container-planet {
    margin: auto;
}

#div-container-rocket{
    margin: auto;
}

/* bot-container */
#bot-container {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #0f3460;
    color: #ffff;
}

.carousel-div {
    width: 53%;
    margin: auto;
    display: flex;
    justify-content: center;
}

.carousel-img {
    margin: auto;
    width: 600px;
    height: 320px;
}

.carousel-indicators [data-bs-target]{
    background-color: #e94560 !important;
}

.carousel-control-prev-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23e94560' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23e94560' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

/* footer */
#footer {
    background-color: #1a1a2e;
    padding: 100px 0px;
    color: #ffff;
}

.a-icon{
    padding: 0 10px;
    font-size: 1.5em;
}

/* responsive */
@media (max-width: 768px) {

    .skill-row {
       text-align: center;
       width: 100%
    }
    .profile-img {
       width: 20%;
    }
    .skill-imgs {
        padding-bottom: 1.25em;
        width: 35%;
    }
    .skills-paragraph {
        width: 85%;
        font-size: 1.25em;
        margin: auto;
    }
    .carousel-div{
        width: 100%;
    }
    .a-icon{
        padding: 0 5px;
    }
}